{% if gpg.default_key is defined %}
default-key {{ gpg.default_key }}
{% endif %}
default-recipient-self

require-cross-certification

keyserver-options auto-key-retrieve
keyserver-options no-honor-keyserver-url

auto-key-locate cert pka ldap keyserver
cert-digest-algo SHA512
default-preference-list SHA512 SHA384 SHA256 SHA224 AES256 AES192 AES CAST5 ZLIB BZIP2 ZIP Uncompressed
personal-digest-preferences SHA512 SHA384 SHA256
keyid-format none

